<div class="table-wrapper">

  @if (showToolbar()) {
    <div class="table-toolbar">
      <div class="table-toolbar__search">
        <i class="fa-solid fa-magnifying-glass table-toolbar__icon"></i>
        <input
          type="search"
          class="table-search"
          placeholder="Rechercher…"
          [value]="searchTerm()"
          (input)="onSearch($event)"
        />
      </div>
      <span class="table-count">
        {{ filteredRows().length }}
        @if (filteredRows().length !== rows().length) { / {{ rows().length }} }
        résultat(s)
      </span>
    </div>
  }

  <table class="table">
    <thead>
      <tr>
        @for (col of columns(); track col.key) {
          <th
            class="table__th"
            [class.table__th--sortable]="col.sortable"
            [class.table__th--active]="sortKey() === col.key"
            [style.width]="col.width ?? ''"
            [style.text-align]="col.align ?? 'left'"
          >
            <div class="table__th-content" (click)="sort(col)">
              {{ col.label }}
              @if (col.sortable) {
                <span class="table__sort">
                  @if (sortKey() === col.key && sortDir() === 'asc') { <i class="fa-solid fa-arrow-up"></i> }
                  @else if (sortKey() === col.key && sortDir() === 'desc') { <i class="fa-solid fa-arrow-down"></i> }
                  @else { <i class="fa-solid fa-sort"></i> }
                </span>
              }
            </div>
            @if (col.searchable) {
              <div class="table__th-search">
                <input
                  type="text"
                  placeholder="Filtrer…"
                  class="table-search table-search--column"
                  (input)="onColumnSearch($event, col.key)"
                  (click)="$event.stopPropagation()"
                />
              </div>
            }
          </th>
        }
      </tr>
    </thead>
    <tbody>
      @if (filteredRows().length === 0) {
        <tr>
          <td class="table__empty" [attr.colspan]="columns().length">
            <i [class]="emptyIcon() + ' table__empty-icon'"></i>
            {{ emptyLabel() }}
          </td>
        </tr>
      } @else {
        @for (row of filteredRows(); track $index) {
          <tr class="table__tr">
            @for (col of columns(); track col.key) {
              <td class="table__td" [style.text-align]="col.align ?? 'left'">
                @if (cellTemplate(col.key); as tpl) {
                  <ng-container
                    [ngTemplateOutlet]="tpl"
                    [ngTemplateOutletContext]="{ $implicit: row, value: row[col.key] }"
                  />
                } @else {
                  {{ row[col.key] }}
                }
              </td>
            }
          </tr>
        }
      }
    </tbody>
  </table>
</div>
