<nav class="navbar">
  <div class="navbar__brand">
    <span class="navbar__logo"><i class="fa-solid fa-server"></i></span>
    <span class="navbar__title">GLPI Store</span>
  </div>
  <ul class="navbar__links">
    <li>
      <a routerLink="/store/items" routerLinkActive="active">
        <i class="fa-solid fa-desktop"></i> Éléments
      </a>
    </li>
    <li>
      <a routerLink="/store/tickets/new" routerLinkActive="active">
        <i class="fa-solid fa-plus"></i> Nouveau ticket
      </a>
    </li>
  </ul>
</nav>
