<nav class="navbar">
  <div class="navbar__inner">
    <a class="navbar__brand" routerLink="/front-office/items" aria-label="Accueil GLPI">
      <span class="navbar__logo"><i class="fa-solid fa-server"></i></span>
      <span class="navbar__titles">
        <span class="navbar__title">GLPI</span>
        <span class="navbar__subtitle">Front Office</span>
      </span>
    </a>

    <div class="navbar__nav">
      <ul class="navbar__links">
        <li>
          <a
            class="navbar__link"
            routerLink="/front-office/items"
            routerLinkActive="active"
          >
            <span class="navbar__icon"><i class="fa-solid fa-desktop"></i></span>
            <span class="navbar__label">Éléments</span>
          </a>
        </li>
      </ul>

      <a class="navbar__cta" routerLink="/front-office/tickets/new" routerLinkActive="active">
        <i class="fa-solid fa-plus"></i>
        <span>Nouveau ticket</span>
      </a>
    </div>
  </div>
</nav>
