<div
  class="dropzone"
  [class.dropzone--active]="isDragOver()"
  [class.dropzone--disabled]="disabled()"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave()"
  (drop)="onDrop($event)"
>
  <i [class]="icon() + ' dropzone__icon'"></i>
  <p class="dropzone__label">{{ label() }}</p>

  <input
    #fileInput
    type="file"
    class="dropzone__input"
    [accept]="accept()"
    [multiple]="multiple()"
    [disabled]="disabled()"
    (change)="onFileChange($event)"
    hidden
  />
  <button mat-button [disabled]="disabled()" (click)="fileInput.click()">
    Parcourir
  </button>

  @if (hint()) { <p class="dropzone__hint">{{ hint() }}</p> }
</div>
